<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button float-right color="danger" float-end ion-button (click)="load()">
    <ion-icon name="refresh"></ion-icon>
  </button>
  <ion-list>
    Affichage des Mêmes
    <ion-card *ngFor="let item of list">
        <ion-card-header (click)="advert(item.id)">
          {{item.title}}
        </ion-card-header>
        <ion-img *ngFor="let img of item.image" src="{{img.url}}" (click)="advert(item.id)">
        </ion-img>
        <button float-right color="danger" float-end ion-button (click)="delete(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button float-right color="danger" float-end ion-button (click)="update(item.id)">
          <ion-icon name="create"></ion-icon>
        </button>


    </ion-card>
  </ion-list>
</ion-content>
